:root {
    --principal:#012966;
    --background-dark:#151615;
    --white:white;
    --success:green;
    --secundario:#2196f3;
    --fondo_leer:#faf9f9;
    --alert:#f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Kantumruy Pro', sans-serif;
    scroll-behavior: smooth;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--principal);
    z-index: 1;
    box-shadow: 0rem .1rem 1rem .2rem var(--principal);

}
.Header-gretting {
    margin-left: 2rem;
    font-size: 2.3rem;
    color: var(--white);
}


.Header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 15rem;
    height: 35rem;
    background-color: var(--principal);
    z-index: 2;
    opacity: 1;
    box-shadow: -.1rem .1rem  .8rem .5rem var(--secundario);

    animation-name: menu;
    animation-timing-function: linear;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes menu {
    from {
        right: -10rem;
    }
    to{
        right: 0;
    }
}

.Header-menu-icon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    z-index: 1;
}



.Header-menu-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.Header-menu-icon:hover, .Header-menu-close:hover {
    cursor: pointer;
}

.Header-menu-link {
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
}

.Header-menu-link:hover {
    text-decoration: underline;
    color: var(--secundario);
}

.Header-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color:var(--alert);
    color: white;
    border-radius: 50%;
}

.notification-menu-open {
    position: absolute;
    right: .9rem;
    bottom:14rem;
}
.notification-menu-closed {
    position: absolute;
    right: 3.5rem;
    top: 1rem;
    box-shadow: .1rem .1rem .1rem .1rem var(--background-dark);
    z-index: 2;
}

.background-dark {
    background-color: var(--background-dark);
    opacity: 0.8;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.menu-icon-link {
    margin-right: 1rem;
}

.Footer {
    width: 100%;
    min-height: 25rem;
    padding-top: 1rem;
    background-color: var(--principal);
}

.Footer-message {
    width: 90%;
    margin: 0 auto 2rem; 
    line-height: 2.2rem;
    text-align: center;
    color: var(--white);
}

.Footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 18rem;
    margin-bottom: 2rem;
}

.Footer-form-input {
    width: 20rem;
    height: 3rem;
    padding: 1rem;
}


.Footer-form-text{
    width: 20rem;
    height: 6rem;
    padding: 1rem;
    resize: none;
    
}

.Footer-form-input:focus-visible, .Footer-form-text:focus-visible {
    outline:.2rem solid var(--secundario);
}
::placeholder {
    font-style: italic;
}


.submit-default {
    width: 6rem;
    height: 2rem;
    background-color: var(--white);
    border: none;
}

.submit-default:active {
    border: .3rem solid var(--secundario);
}

.Footer-form-submit-success {
    background-color: var(--success);
    color: var(--fondo_leer);
}

.Footer-rights_social_networks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Footer-social_networks{
    display: flex;
}

.social-network-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.Footer-rights {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    text-align: center;
    color:var(--white);
}

.Home {
    min-height: calc(100vh - 25rem - 6rem);
}

.Home-introduction-container {
    width: 90%;
    height: auto;
    margin: 10rem auto 4rem;
    background-color: var(--fondo_leer);
    border-radius: 1.5rem;
    border: .2rem solid var(--secundario);
    box-shadow: .1rem .1rem 1rem .2rem var(--principal);
}

.Home-introduction{
    width: 95%;
    margin: 0 auto;
}

.Home-introduction-MiEspacio {
    color: var(--principal);
}

.Home-introduction-title {
    padding: 1.5rem 0;
    font-size: 3rem;
    line-height:4rem;
    text-align: center;

}
.Home-introduction-description{
    margin-left: .2rem;
    padding-bottom: 2rem;
    line-height: 2.2rem;

}

.Home-introduction-includes{
    font-size: 2.2rem;
    font-style: italic;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.Home-introduction-list {
    list-style: circle;
    list-style-position: inside;
}

.Home-introduction-list > li {
    margin: 1rem .2rem;
}

.Home-category {
    font-size: 2.5rem;
    margin: 3.5rem 2.5rem 1rem;
}

.Home-sections {
    display: flex;
    width: 100%;
    height: 45rem;
    margin-bottom: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
}

.sections-card{
    min-width: 25rem;
    margin: 1rem 1.3rem 3rem;
    padding: 1.3rem;
    scroll-snap-align: center;
    background-color: var(--fondo_leer);
    border: .2rem solid var(--secundario);
    border-radius: 1.5rem;
    box-shadow: .1rem .1rem 1rem .2rem var(--principal);
    transition: .3s;
    overflow-y: scroll;
    
}

.sections-card:active {
    background-color: var(--alert);
}

.sections-card  span {
    font-weight: bold;
    font-style: italic;
}

.sections-card-img {
    width: 100%;
    object-fit: contain;
}

.sections-card-description {
    font-weight: 300;
    line-height: 2.2rem;
}


.sections-card-valoration {
    color: var(--success);
    font-weight: bold;
    display: inline-block;
}

.sections-card > p {
    margin: 1rem;
}

.Favorites {
    min-height: calc(100vh - 25rem - 6rem);
}
.Favorites-section {
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
}
.Favorites-title {
    margin: 10rem 2rem 2rem;
}

.Favorites-empty {
    padding:2rem 1rem 4rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.Explore {
    min-height: calc(100vh - 25rem - 6rem);
}

.Explore-title {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 8rem 0 2rem;
    text-align: center;
}

.Explore-form {
    display: flex;
    justify-content: center;
}


.Explore-form-searchBar {
    width: 25rem;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: .2rem solid var(--principal);
}

.Explore-form-searchBar:focus-visible {
    outline: .2rem solid var(--secundario);
}

.About {
    min-height: calc(100vh - 25rem - 6rem);
}

.About-card {
    width: 90%;
    margin: 10rem auto 5rem;
    padding: 1.5rem;
    background-color: var(--fondo_leer);
    border: .2rem solid var(--secundario);
    border-radius: 1.5rem;
    box-shadow: .1rem .1rem 1rem .2rem var(--principal);
}

.About-title {
    margin: 2.5rem 0 1rem;
    font-size: 2.2rem;
    font-style: italic;
}

.About-description {
    font-weight: 500;
    line-height: 2.2rem;
}

.About-list {
    list-style: circle;
    list-style-position: inside;
}

.About-list li {
    margin: 1rem 0;
    line-height: 2.2rem;
}

.About-link {
    font-style: italic;
    text-decoration: underline;
    color: var(--principal);
}

.About-link:active {
    color: var(--alert);
}

@media screen and (min-width:768px){
    .Home-sections {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        overflow:hidden;
    }
    .sections-card {
        width: 25rem;
        overflow: hidden;
        transition: .5s;

    }

    .sections-card:hover {
        cursor: pointer;
        transform: translateY(-.5rem);
        background-color: var(--alert);
        color: var(--fondo_leer);
    }

    .sections-card:active {
        transition: .5ms;
        background-color: var(--success);
    }

    
    .Explore-form-searchBar {
        width: 45rem;
    }

    .Explore-showData {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Favorites-section {
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .Footer-form-input {
        width: 30rem;
      
    }

    .Footer-form-text {
        width: 30rem;
        height: 8rem;
    
    }

    .submit-default:hover {
        transition: .5s;
        background-color: var(--alert);
        cursor: pointer;
    }

}